"<span id="quote_content_<%= @quote_dom_id%>"><%=raw quote.quote %></span>"
<div class="quotes_list_stream_name_date">
    <span class="glyphicon glyphicon-edit quote_link copy_clipboard" data-dom-id="<%= @quote_dom_id %>" title="Copy to Clipboard"></span>
    <%= link_to quote_path(quote), class: 'quote_link' do %>
        <span class="glyphicon glyphicon-link" title="Link to quote"></span>
    <% end %>
    <%= link_to quote.stream.name, stream_path(quote.stream.name), {:style=>"color:#6040a1"} %>'s stream, posted <%= time_ago_in_words(quote.created_at) %> ago
</div>