<li class="single_quote_block">
    <div class="quote_vote_area" id="quote_<%= @quote_dom_id += 1 %>" <% if !quote.marked_as.nil? %> style="display: none" <% end %>>
        <%= render "quotes/quote_actions_block", quote: quote %>
    </div>
    <% if quote.text_art %>
        <div class="quote_text_art_label">text art</div>
    <% end %>
    <div class="<%= quote.text_art ? "quote_text_area_text_art" : "quote_text_area" %>" id="quote_text_area_<%= @quote_dom_id %>">
        <% if quote.marked_as.nil? %>
        	<%= render "quotes/quote_content_block", quote: quote %>
        <% else %>
            <span class="quote_explicit_message">
                Quote has been hidden due to explicit language 
                <%= form_for(quote, remote: true, url: show_marked_quote_quote_path(quote), method: :get, html: { class: "quote_explicit_show_form" }) do |f| %>
                    <%= button_tag(type: 'submit') do %>
                        [+]
                    <% end %>
                    <%= hidden_field_tag 'dom_id', @quote_dom_id %>
                <% end %>
            </span>
        <% end %>
    </div>
</li>