<% if @starred 
    provide(:title, 'Top Copypastas') 
    provide(:description, 'View the most creative copypastas the best of Twitch chat can offer. TwitchQuotes is the leading database for Twitch chat quotes, copypastas, and ASCII art.')
elsif @popular
    provide(:title, 'Popular Copypastas') 
    provide(:description, 'View the top voted copypastas by the community! TwitchQuotes is the leading database for Twitch chat quotes, copypastas, and ASCII art.')
end %>

<% if @page_one %>
    <div class="page-header" style="<% unless has_announcement? %> margin-top: -24px; <% end %> padding-bottom: 0px">
        <h1>TwitchQuotes <small> The Largest Database for Twitch Chat Copypastas on the Internet</small></h1>
    </div>
<% end %>

<div class="row">
    <div class="col-md-10">
        <div class="row" id="quote_options_row">
            <div class="col-md-10 col-md-offset-1">
                <div class="btn-group btn-group-justified" role="group">
                    <!-- latest -->
                    <div class="btn-group <%= "dropup" if @oldest %>" role="group">
                        <%  
                            class_string = "btn btn-default"
                            path = quotes_path
                            button_text = "Latest"
                            if @latest
                                class_string = "btn btn-custom"
                                path = quotes_path(oldest: true)
                            elsif @oldest
                                class_string = "btn btn-custom"
                                button_text = "Oldest"
                            end
                        %>

                        <%= link_to path, {class: class_string} do %>
                            <span class="caret" aria-hidden="true"></span> <%= button_text %>
                        <% end %>
                    </div>

                    <!-- popular -->
                    <div class="btn-group" role="group">
                        <%  
                            class_string = "btn btn-default"
                            path = quotes_path(popular: true)
                            if @popular
                                class_string = "btn btn-custom"
                                path = quotes_path
                            end
                        %>

                        <%= link_to path, {class: class_string, title: "Top copypastas by popular vote!"} do %>
                            <span class="glyphicon glyphicon-fire" aria-hidden="true"></span> Popular
                        <% end %>
                    </div>

                    <!-- emoticons -->
                    <div class="btn-group" role="group">
                        <%= link_to emoticons_path, {class: "btn btn-default", title: "Twitch chat emoticons"} do %>
                            <span class="glyphicon glyphicon-th" aria-hidden="true"></span> Emotes
                        <% end %>
                    </div>

                    <!-- ascii art -->
                    <div class="btn-group hidden-xs" role="group">
                        <%= link_to ascii_art_quotes_path, {class: "btn btn-default"} do %>
                            <span class="glyphicon glyphicon-picture" aria-hidden="true"></span> ASCII Art
                        <% end %>
                    </div>

                    <!-- search -->
                    <div class="btn-group hidden-xs" role="group">
                        <%= link_to search_quotes_path, class: 'btn btn-default' do %>
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search
                        <% end %>
                    </div>

                    <!-- random -->
                    <div class="btn-group" role="group">
                        <%= link_to random_index_path, {class: "btn btn-default"} do %>
                            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Random
                        <% end %>
                    </div>
                </div>
            </div>
        </div>

        <ul class="quotes">
            <%= (render 'quote', quote: @highlight_quote, highlight: true) unless @highlight_quote.nil? %>

            <%= render @quotes %>
        </ul>

        <div class="paginate_parent_bottom"><%= will_paginate %></div>
    </div>
    <div class="col-md-2 hidden-xs hidden-sm">
        <%= render 'layouts/ads/adsense/vertical_ads', second: true %>
    </div>
</div>