<% if @page_one %>
    <div class="page-header" style="<% unless has_announcement? %> margin-top: -24px; <% end %> padding-bottom: 0px">
        <h1>TwitchQuotes <small> The Largest Database for Twitch Chat Copypastas on the Internet</small></h1>
    </div>
<% end %>

<div class="row">
    <div class="col-md-10">
        <div style="text-align: center" class="row">
            <%= render 'shared/quote_search_box' %>
        </div>

        <ul class="quotes">
            <%= (render 'quote', quote: @highlight_quote, highlight: true) unless @highlight_quote.nil? %>

            <%= render @quotes %>
        </ul>

        <div class="paginate_parent_bottom"><%= will_paginate %></div>
    </div>
    <div class="col-md-2 hidden-xs hidden-sm">
        <%= render 'layouts/vertical_ads', second: true %>
    </div>
</div>