<% if @page_one %>
    <div class="page-header" style="<% unless has_announcement? %> margin-top: -24px; <% end %> padding-bottom: 0px">
        <h1>TwitchQuotes <small> The Largest Database for Twitch Chat Copypastas on the Internet</small></h1>
    </div>
<% end %>

<div class="row">
    <div class="col-md-10">
        <div class="row" id="quote_options_row">
            <div class="col-md-10 col-md-offset-1">
                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                    <div class="btn-group <%= "dropup" if @sort_reverse %>" role="group">
                        <%
                            link_params = {}
                            link_params[:sort] = "reverse" if !@sort_reverse
                            link_params[:starred] = true if @starred
                        %>

                        <%= link_to quotes_path(link_params), class: 'btn btn-default' do %>
                            <span class="caret" aria-hidden="true"></span> Sort By Date
                        <% end %>
                    </div>
                    <div class="btn-group" role="group">
                        <% if not @starred %>
                            <%= link_to "Starred", quotes_path(starred: true), {class: "btn btn-default"} %>
                        <% else %>
                            <%= link_to "Starred", quotes_path, {class: "btn btn-custom"} %>
                        <% end %>
                    </div>
                    <div class="btn-group hidden-xs" role="group">
                        <%= link_to "ASCII Art", ascii_art_quotes_path, {class: "btn btn-default"} %>
                    </div>
                    <div class="btn-group" role="group">
                        <%= link_to "Random", random_index_path, {class: "btn btn-default"} %>
                    </div>
                    <div class="btn-group hidden-xs" role="group">
                        <%= link_to search_quotes_path, class: 'btn btn-default' do %>
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search
                        <% end %>
                    </div>
                </div>
            </div>
        </div>

        <ul class="quotes">
            <%= (render 'quote', quote: @highlight_quote, highlight: true) unless @highlight_quote.nil? %>

            <%= render @quotes %>
        </ul>

        <%= render partial: 'layouts/ads/swagbucks_horizontal', locals: {initial_hide: true} %>

        <div class="paginate_parent_bottom"><%= will_paginate %></div>
    </div>
    <div class="col-md-2 hidden-xs hidden-sm">
        <%= render 'layouts/ads/vertical_ads', second: true %>
    </div>
</div>