<% provide(:title, 'Add Quote') %>
<div class="row">
	<div class="col add_quote_main_content" id="channels_search">
		<%= form_tag api_search_streams_path, :method => 'get', :id => "channels_search_form" do %>
		    <%= text_field_tag :search, params[:search], placeholder: "Search streams...", autocomplete: "off" %>
		<% end %>
		<ul id="channels">
			<%
				if !@channels.nil?
					render 'streams/search_streams'
				end
			%>
		</ul>
	</div>
	<div class="col add_quote_main_content" id="new_quote_form">
		<%= form_for(@quote) do |f| %>
			<%= render 'shared/quote_error_messages' %>
			<%= f.text_area :quote, rows: 4, placeholder: "Enter quote here, Kappa" %>
			<%= f.hidden_field :stream_id, id: "stream_id" %>
			<%= hidden_field_tag "stream_name" %>
			<%= hidden_field_tag "stream_url" %>
			<%= f.submit "Add Quote", class: "btn btn-large btn-custom" %>
		<% end %>
	</div>
	<div class='spinner'><img src='/assets/default_spinner.GIF'/></div>
</div>