<% provide(:title, 'Add Quote') %>
<div class="row">
	<div class="col add_quote_main_content" id="channels_search">
		<% # render 'shared/stream_error_messages' %>
		<%= render 'shared/error_messages', object: @quote %>
		<%= form_tag api_search_streams_path, :method => 'get', :id => "channels_search_form" do %>
		    <%= text_field_tag :search, params[:search], placeholder: "Search streams...", autocomplete: "off" %>
		<% end %>
		<ul id="channels">
			<%
				if !@channels.nil?
					render 'streams/search_streams'
				end
			%>
		</ul>
	</div>
	<div class="col add_quote_main_content" id="new_quote_form">
		<div id="new_quote_selected_stream_text">Currently adding a quote for <span></span>'s stream...</div>

		<%= form_for(@quote) do |f| %>
			<%= f.text_field :title, placeholder: "Quote title (required)" %>
			<%= f.text_area :quote, rows: 4, placeholder: "Enter quote here... (required)" %>
			<%= f.hidden_field :stream_id, id: "stream_id" %>
			<%= hidden_field_tag "stream_name" %>
			<%= hidden_field_tag "stream_url" %>
			<%= hidden_field_tag "stream_logo" %>
			<%= hidden_field_tag "stream_followers" %>
			<%= f.submit "Add Quote", class: "btn btn-large btn-custom" %>
		<% end %>
	</div>
	<div id="available_emoticons_box" class="col-md-8 col-md-offset-2">
		<div class="panel panel-default">
			<div class="panel-heading">Available Emoticons</div>
			<div class="panel-body">
				<% Emoticons.emoticons.each do |key, value| %>
					<%=image_tag value, style: "display: inline-block", title: key %>
				<% end %>
			</div>
		</div>
	</div>
	<div class='spinner'><img src='<%= asset_path("default_spinner.GIF") %>'/></div>
</div>