<% provide(:title, 'Search Results') %>

<div class="row">
    <div class="col-md-10">
        <div style="text-align: center" class="row">
            <%= render 'shared/quote_search_box' %>
        </div>

        <div id="number_of_search_results"><%= @quotes.count %> results returned</div>

        <ul class="quotes_search">
            <%= render partial: "quote_search_result", collection: @quotes, as: :quote %>
        </ul>

        <div class="paginate_parent_bottom"><%= will_paginate %></div>
    </div>
    <div class="col-md-2 hidden-xs hidden-sm">
        <%= render 'layouts/vertical_ads', second: true %>
    </div>
</div>