<% provide(:title, 'Show Quote') %>
<div class="row">
    <div class="col-md-2" style="text-align: right">
        <div class="quote_actions" id="quote_<%= @quote_dom_id += 1 %>">
            <%= render "quotes/quote_actions", quote: @quote %>
        </div>
    </div>
    <div id="show_quote" class="single_quote_block col-md-8">
        "<%=raw @quote.quote %>"
        <div class="quotes_list_stream_name_date">
            <%= link_to @quote.stream.name, stream_path(@quote.stream.name), {:style=>"color:#6040a1"} %>'s stream, posted <%= time_ago_in_words(@quote.created_at) %> ago
        </div>
    </div>
</div>