<% if @quote.is_marked_as? :profanity_auto %>
    <% quote_content = ProfanityFilter.replace_with_stars(@quote.quote) %>
<% else %>
    <% quote_content = @quote.quote %>
<% end %>

<% unless @quote.is_marked_as? :dont_filter_title %>
    <% quote_title = ProfanityFilter.replace_with_stars(@quote.title) %>
<% else %>
    <% quote_title = @quote.title %>
<% end %>

<% unless @quote.text_art %>
    <% provide(:title, raw(quote_title)) %>
    <% provide(:description, "#{strip_tags(raw(quote_content))} - TwitchQuotes is one of the largest databases of Twitch chat copypastas on the internet. Our database contains over 1000 text and ASCII art copypastas.") %>
<% else %>
    <% provide(:title, quote_title + " (ASCII Art)") %>
    <% provide(:description, 'Browse a large collection of ASCII art (text art) copypastas from Twitch chat. TwitchQuotes is the leading online database for Twitch chat copypastas') %>
<% end %>

<% provide(:no_footer, true) %>

<div class="row">
    <div class="col-xs-2" style="text-align: right">
        <div class="quote_actions" id="quote_<%= @quote_dom_id += 1 %>">
            <%= render "quotes/quote_actions_show", quote: @quote %>
        </div>
    </div>
    <div id="show_quote" class="single_quote_block panel panel-default col-xs-8">
        <div class="panel-heading"><%= quote_title %></div>
    <% if @quote.text_art %>
        <div class="quote_text_art_label"><%= link_to 'text art', ascii_art_quotes_path %></div>
    <% end %>
        <div class="show_quote_text_area">
            <% unless @quote.text_art %>
                "<span id="quote_content_<%= @quote_dom_id%>"><%=raw quote_content %></span>"
            <% else %>
                <div class="quote_text_art_content_parent_show_quote">
                    <span id="quote_content_<%= @quote_dom_id%>"><%=raw @quote.quote %></span>
                </div>
            <% end %>
        </div>
        <div class="quotes_list_stream_name_date">
            <span class="glyphicon glyphicon-edit quote_link copy_clipboard" title="Copy to Clipboard" data-dom-id="<%= @quote_dom_id %>"></span>
            <%= link_to @quote.stream.name, stream_path(@quote.stream.name), {:style=>"color:#6040a1"} %>'s stream, posted <%= time_ago_in_words(@quote.created_at) %> ago
        </div>

        <button class="quote_copy_button" data-quote-id="quote_content_<%= @quote_dom_id%>">copy</button>
    </div>
</div>

<div class="row">
    <%# CONTEXT %>
    <% unless @quote.context.nil? or @quote.context.empty? %>
        <div class="quotes_context_parent col-xs-offset-2 col-xs-8">
            <div class="quotes_context"><span class="glyphicon glyphicon-question-sign"></span><span class="quotes_context_content"><%= @quote.context %></span></div>
        </div>
    <% end %>
</div>

<% if @quote.is_marked_as? :profanity_auto %>
    <div class="row">
        <div class="col-md-offset-2 col-md-8" style="text-align: center">
            <%= form_tag(quote_path(@quote), remote: true, method: :get) do |f| %>
                <%= button_tag 'Remove censors', type: 'submit', class: 'btn btn-danger', id: 'button_remove_censors' %>
                <%= hidden_field_tag 'uncensored', true %>
            <% end %>
        </div>
    </div>
<% end %>

<div class="row show_quote_ad">
    <%= render 'layouts/ads/adsense/desktop/horizontal_ad_one' %>
</div>

<div class="show_quote_ad">
    <%= render 'layouts/ads/adsense/mobile/responsive_ad_one' %>
</div>