<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default" style="padding-bottom: 12px">
            <div class="panel-heading">Announcements</div>
            <table class="table table-hover">
                <thead>
                    <th style="width: 5%">#</th>
                    <th style="width: 60%">Content</th>
                    <th style="width: 20%">Date</th>
                    <th style="width: 15%">Actions</th>
                </thead>
                <tbody>
                    <%= render @announcements %>
                </tbody>
            </table>
            <div style="text-align: center">
                <%= link_to "New", new_announcement_path, class: "btn btn-default" %>
                <%= link_to "Show all", announcements_path, class: "btn btn-default" %>
            </div>
        </div>
<!--         <div>
            <h2 style="text-align:left">Announcements</h2>
        </div>
        <table class="table table-hover">
            <thead>
                <th style="width: 5%">#</th>
                <th style="width: 60%">Content</th>
                <th style="width: 20%">Date</th>
                <th style="width: 15%">Actions</th>
            </thead>
            <tbody>
                <%= render @announcements %>
            </tbody>
        </table>
        <div style="text-align: center">
            <%= link_to "New", new_announcement_path, class: "btn btn-default" %>
            <%= link_to "Show all", announcements_path, class: "btn btn-default" %>
        </div> -->
    </div>
</div>

<div class="row">
    <% if @display_social %>
        <% panel_class = "panel-primary"
        panel_button_text = "Hide" %>
    <% else %>
        <% panel_class = "panel-default"
        panel_button_text = "Activate" %>
    <% end %>
    <div class="col-md-6">
        <div class="panel <%= panel_class %>">
            <div class="panel-heading">
                <h3 class="panel-title">Social Settings</h3>
            </div>
            <div class="panel-body">
                <%= link_to panel_button_text, admin_toggle_social_path, method: :post,
                    class: "btn btn-default btn-lg btn-block" %>
            </div>
        </div>
    </div>
    <% if @display_ip_voting %>
        <% panel_class = "panel-primary"
        panel_button_text = "Hide" %>
    <% else %>
        <% panel_class = "panel-default"
        panel_button_text = "Activate" %>
    <% end %>
    <div class="col-md-6">
        <div class="panel <%= panel_class %>">
            <div class="panel-heading">
                <h3 class="panel-title">Ip Voting Settings</h3>
            </div>
            <div class="panel-body">
                <%= link_to panel_button_text, admin_toggle_ip_voting_path, method: :post, class: "btn btn-default btn-lg btn-block" %>
            </div>
        </div>
    </div>
</div>