<% if has_announcement_in_db? %>
    <div class="row">
        <h2>Latest Announcement</h2>
        <div class="col-md-6 col-md-offset-3">
            <%= form_for(@announcement_update) do |f| %>
                <%= render 'shared/error_messages', object: @announcement_update %>
                <%= f.label :content_unevaluated %>
                <%= f.text_area :content_unevaluated, style: "height: 200px" %>
                <%= f.label :expired %>
                <%= f.check_box :expired %>
                <%= f.submit "Update Announcement", class: "btn btn-large btn-primary", style: "margin-top: 10px" %>
            <% end %>
        </div>
    </div>
<% end %>

<div class="row">
    <h2>Add New Announcement</h2>
    <div class="col-md-6 col-md-offset-3">
        <%= form_for(@announcement) do |f| %>
            <%= render 'shared/error_messages', object: @announcement %>
            <%= f.label :content_unevaluated %>
            <%= f.text_area :content_unevaluated, style: "height: 200px" %>
            <%= f.submit "Create Announcement", class: "btn btn-large btn-primary" %>
        <% end %>
    </div>
</div>

<div class="row">
    <h2>Display Social Settings</h2>
    <div class="col-md-6 col-md-offset-3">
        <%= form_tag admin_toggle_social_path, method: :post, style: 'text-align:center' do |f| %>
            <%= radio_button_tag 'social', 'true', @display_social, style: 'display:inline-block;width:24px' %> Display</br>
            <%= radio_button_tag 'social', 'false', !@display_social, style: 'display:inline-block;width:24px' %> Hide
            <%= submit_tag "Save", class: "btn btn-large btn-primary", style: "margin-top: 10px" %>
        <% end %>
    </div>
</div>

<div class="row">
    <h2>Display IP Voting Settings</h2>
    <div class="col-md-6 col-md-offset-3">
        <%= form_tag admin_toggle_ip_voting_path, method: :post, style: 'text-align:center' do |f| %>
            <%= radio_button_tag 'ip_voting', 'true', @display_ip_voting, style: 'display:inline-block;width:24px' %> Display</br>
            <%= radio_button_tag 'ip_voting', 'false', !@display_ip_voting, style: 'display:inline-block;width:24px' %> Hide
            <%= submit_tag "Save", class: "btn btn-large btn-primary", style: "margin-top: 10px" %>
        <% end %>
    </div>
</div>