<% provide(:title, 'Quotes from ' + @stream.name) %>

<div class="row">

    <div class="jumbotron">
    	<div class="stream_name_logo"><img src="<%= @stream.logo %>"/><h1><%= @stream.name %></h1></div>
    	<p><%= link_to "View on Twitch", @stream.url, class: "btn btn-custom btn-lg" %></p>
    </div>

    <div class="col-md-10">
        <ul class="quotes">
            <%= render @quotes %>
        </ul>
    </div>

    <div class="col-md-2 hidden-xs hidden-sm">
        <div style="margin-bottom: 25px">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- TwitchQuotes Main Page -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:120px;height:600px"
                 data-ad-client="ca-pub-0144173183236578"
                 data-ad-slot="6799625657"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        <div>
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- TwitchQuotes Main Page 2 -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:120px;height:600px"
                 data-ad-client="ca-pub-0144173183236578"
                 data-ad-slot="8136758056"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </div>

    <div class="paginate_parent_bottom"><%= will_paginate(@quotes) %></div>

</div>