<% provide(:title, 'Quotes from ' + @stream.name) %>

<div class="row">

    <div class="jumbotron">
    	<div class="stream_name_logo"><img src="<%= @stream.logo %>"/><h1><%= @stream.name %></h1></div>
    	<p><%= link_to "View on Twitch", @stream.url, class: "btn btn-custom btn-lg" %></p>
    </div>

    <div class="col-md-10">
        <ul class="quotes">
            <%= render @quotes %>
        </ul>
    </div>

    <div class="col-md-2 hidden-xs hidden-sm">
        <%= render 'layouts/vertical_ads', second: true %>
    </div>

    <div class="paginate_parent_bottom"><%= will_paginate(@quotes) %></div>

</div>