<% provide(:title, "Copypastas from the #{@stream.name.html_safe} stream") %>
<% provide(:description, "Browse the funniest copypastas from the #{@stream.name.html_safe} stream. TwitchQuotes is the leading online database for Twitch chat copypastas") %>

<div class="row">

    <div class="jumbotron" id="stream_title_jumbotron">
        <div class="row">
            <div class="col-md-2 hidden-xs"><img src="<%= @stream.logo %>"/></div>
            <div class="col-md-4"><h1><%= @stream.name %></h1></div>
            <div class="col-md-2 hidden-xs hidden-sm"><div class="stream_title_lpp"><div class="stream_title_lp"><%= link_to "Watch", @stream.url, class: "btn btn-custom btn-lg" %></div></div></div>
            <div class="col-md-2"><div class="stream_title_lpp"><div class="stream_title_lp"><%= link_to "Random Quote", random_path(@stream.name), class: "btn btn-custom btn-lg" %></div></div></div>
        </div>
    </div>

    <div class="col-md-10">
        <ul class="quotes">
            <%= render @quotes %>
        </ul>

        <div class="paginate_parent_bottom"><%= will_paginate(@quotes) %></div>
    </div>

    <div class="col-md-2 hidden-xs hidden-sm">
        <%= render 'layouts/ads/adsense/desktop/vertical_ads', second: true %>
    </div>

    <% if @quotes.length >= 3 %>
        <%= render 'layouts/ads/adsense/mobile/horizontal_ad_one' %>
    <% end %>
    <% if @quotes.length >= 8 %>
        <%= render 'layouts/ads/adsense/mobile/horizontal_ad_two' %>
    <% end %>
</div>