<div class="col-xs-4 stream_ad_box">
    <a href="<%= stream_link %>">
        <div class="stream_ad_heading">
            <div class="logo_parent hidden-xs">
                <img class="logo" src="<%= logo_link %>" />
            </div>
            <div class="stream_name_parent">
                <div class="name"><%= streamer_name %></div>
                <div class="game"><%= stream_game %></div>
            </div>
        </div>
        <div class="stream_ad_body">
            <%= stream_desc %>
            <span class="ellipsis">...</span>
        </div>
    </a>
</div>