<li>
    <%= link_to 'The Best Copypastas from Twitch chat', '#' %>
</li>
<li>
    <%= link_to new_quote_path do %>
        <span class="glyphicon glyphicon-plus" title="New Quote"></span><span data-target=".navbar-collapse" class="navbar-toggle custom-navbar-toggle">New Quote</span>
    <% end %>
</li>
<li>
    <%= link_to streams_path do %>
        <span class="glyphicon glyphicon-th-large" title="All Streams"></span><span data-target=".navbar-collapse" class="navbar-toggle custom-navbar-toggle">All Streams</span>
    <% end %>
</li>
<li>
    <%= link_to builder_path do %>
        <span class="glyphicon glyphicon-pencil" title="Build"></span><span data-target=".navbar-collapse" class="navbar-toggle custom-navbar-toggle">Unicode Copypasta Builder</span>
    <% end %>
</li>
<li>
    <%= link_to about_path do %>
        <span class="glyphicon glyphicon-leaf" title="About"></span><span data-target=".navbar-collapse" class="navbar-toggle custom-navbar-toggle">About</span>
    <% end %>
</li>
<li class="dropdown" style="display: none">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <span class="fa fa-facebook-square <%= current_facebook_user ? "facebook-blue" : "" %>" title="Facebook" style="font-size: 19px"></span>
        <span data-target=".navbar-collapse" class="navbar-toggle custom-navbar-toggle">
            <%= current_facebook_user ? "#{current_facebook_user.name}" : "Facebook" %>
        </span>
    </a>
    <ul class="dropdown-menu">
        <% if current_facebook_user %>
            <li>
                <%= link_to current_facebook_user.name, "#" %>
            </li>
            <li>
                <%= link_to "Sign out", facebook_signout_path, id: "facebook_sign_out" %>
            </li>
        <% else %>
            <li>
                <%= link_to "Sign in with Facebook", "/auth/facebook", id: "facebook_sign_in" %>
            </li>
        <% end %>
    </ul>
</li>
<% if signed_in? %>
    <li class="dropdown" id="profile-nav-li">
        <%= link_to "#", data: { toggle: "dropdown", class: "dropdown-toggle" } do %>
            <span class="glyphicon glyphicon-user" title="Sign Out"></span>
            <span style="margin-left: 2px"><%= current_user.username %></span>
        <% end %>
        <ul class="dropdown-menu">
            <li>
                <%= link_to user_path(current_user) do %>
                    <span class="glyphicon glyphicon-unchecked" title="Profile"></span> Profile
                <% end %>
            </li>
            <li>
                <%= link_to signout_path, method: "delete" do %>
                    <span class="glyphicon glyphicon-log-out" title="Sign Out"></span> Sign Out
                <% end %>
            </li>
        </ul>
    </li>
<% else %>
    <li>
        <%= link_to signin_path do %>
            <span class="glyphicon glyphicon-log-in" title="Sign In"></span><span data-target=".navbar-collapse" class="navbar-toggle custom-navbar-toggle">Sign In</span>
        <% end %>
    </li>
<% end %>