<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? "#{yield(:title)} | TwitchQuotes" : "TwitchQuotes | The Best Quotes from Twitch Chat" %></title>
    <meta name="description" content="<%= content_for?(:description) ? "#{yield(:description)}".truncate(200) : "TwitchQuotes is the leading database for Twitch chat quotes, copypastas, and ASCII art. Browse copypastas and ASCII text art from your favorite streamer's Twitch chat or even build your own copypasta" %>">
    <%= favicon_link_tag asset_path("favicon.ico") %>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/zeroclipboard/2.2.0/ZeroClipboard.min.js"></script>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/google_analytics_script' %>
  </head>
  <body class="<%= "#{controller_name}_#{action_name}" %>">
    <% if Rails.env.production? %>
      <script>_gaq.push(['_trackPageview']);</script>
    <% end %>
    <% if !@random_view.nil? && @random_view %>
      <%= yield %>
    <% else %>
      <header>
        <%= render 'layouts/navigation' %>
      </header>
      <div class="container" id="main">
        <%= render 'layouts/messages' %>
        <%= render 'layouts/facebook_sign_in_modal' %>
        <%= render 'layouts/sign_in_modal' %>
        <%= render 'layouts/server_error_modal' %>
        <% if has_announcement? and !content_for?(:server_error_page) %>
          <%= render 'announcements/announcements', msg: raw(latest_announcement) %>
        <% end %>
        <%= yield %>
        <% if !content_for?(:no_footer) %>
          <%= render 'layouts/contact_me' %>
        <% end %>
        <%= debug(params) if Rails.env.development? %>

        <% unless !Rails.application.config.display_stats or (controller_name == "quotes" and (action_name == "create" or action_name == "new")) %>
          <div id="site_user_statistic" class="row"> <span><%= Stats.get_live_users %></span> users currently browsing TwitchQuotes </div>
        <% end %>
      </div>
    <% end %>
  </body>
</html>